---
- name: Install base packages
  community.general.pacman:
    name:
      - base-devel
      - git # Damn Torvald cooked with this one fr
      - wget # GNU Wget2 is the successor of GNU Wget, a file and recursive website downloader
      - nano # Classic nano text editor
      - vim # Plain-old vim :)
      - reflector
      - pacman-contrib
    state: present
  become: true

- name: Update system
  community.general.pacman:
    update_cache: true
    upgrade: true
  become: true

- name: Install AUR helper
  kewlfft.aur.aur:
    name: "{{ aur_helper }}"
    use: makepkg
    state: present

- name: Start systemd service - paccache.timer
  ansible.builtin.systemd:
    name: paccache.timer
    state: started
    enabled: true
  become: true

- name: Update reflector configuration file
  ansible.builtin.template:
    src: reflector.conf.j2
    dest: /etc/xdg/reflector/reflector.conf
    backup: false
    owner: root
    group: root
    mode: "0644"
  become: true

- name: Update pacman configuration file
  ansible.builtin.template:
    src: pacman.conf.j2
    dest: /etc/pacman.conf
    backup: false
    owner: root
    group: root
    mode: "0644"
  become: true

- name: Update pacman configuration file
  ansible.builtin.template:
    src: makepkg.conf.j2
    dest: /etc/makepkg.conf
    backup: false
    owner: root
    group: root
    mode: "0644"
  become: true

- name: Ensure /etc/greetd directory exists
  ansible.builtin.file:
    path: /etc/greetd
    state: directory
    mode: "0755"
    owner: root
    group: root
  become: true

- name: Update greetd configuration file
  ansible.builtin.template:
    src: greetd.conf.j2
    dest: /etc/greetd/config.toml
    backup: false
    owner: root
    group: root
    mode: "445"
  become: true

- name: Add hyprland (uwsm-managed) session to uwsm
  ansible.builtin.template:
    src: hyprland-uwsm.desktop.j2
    dest: /usr/share/wayland-sessions/hyprland-uwsm.desktop
    backup: false
    owner: root
    group: root
    mode: "445"
  become: true

- name: Add plasma (uwsm-managed) session to uwsm
  ansible.builtin.template:
    src: plasma-uwsm.desktop.j2
    dest: /usr/share/wayland-sessions/plasma-uwsm.desktop
    backup: false
    owner: root
    group: root
    mode: "445"
  become: true

- name: Update 75-twemoji configuration file
  ansible.builtin.template:
    src: 75-twemoji.conf.j2
    dest: /etc/fonts/conf.d/75-twemoji.conf
    backup: false
    owner: root
    group: root
    mode: "777"
  become: true

- name: Start systemd service - systemd-boot-update.service
  ansible.builtin.systemd:
    name: systemd-boot-update.service
    state: started
    enabled: true
  become: true

- name: Update pacman cache
  community.general.pacman:
    update_cache: true
  become: true

# See https://github.com/kewlfft/ansible-aur#create-the-aur_builder-user for
# more details
- name: Create the `aur_builder` user
  ansible.builtin.user:
    name: aur_builder
    create_home: yes
    group: wheel
  become: true

- name: Allow the `aur_builder` user to run `sudo pacman` without a password
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/11-install-aur_builder
    line: "aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman"
    create: yes
    mode: "0644"
    validate: "visudo -cf %s"
  become: true
