- name: Start systemd service - xppentablet.service
  ansible.builtin.systemd:
    name: xppentablet.service
    state: "restarted"
    scope: "user"
    enabled: true
- name: Start systemd service - libvirtd.service
  ansible.builtin.systemd:
    name: libvirtd.service
    state: "restarted"
    enabled: true
- name: Start systemd service - virtlogd.service
  ansible.builtin.systemd:
    name: virtlogd.service
    state: "restarted"
    enabled: true
- name: Start systemd service - mpd.service
  ansible.builtin.systemd:
    name: mpd.service
    scope: "user"
    state: "restarted"
    enabled: true
