{{ if .variables.time -}}
#!/bin/bash

echo "${NOTE} - Running 08-time.sh"

# Sourcing helper functions and variables
source "$HOME/.local/share/chezmoi/.chezmoiscripts/run_00-helper.sh"

printf "${NOTE} Installing set time to local time (not UTC) to fix dual boot time difference between Linux and Windows...\n"
timedatectl set-local-rtc 1
printf "${OK} Time set to local time (not UTC) successfully!\n"
{{ end }}
