#!/usr/bin/env bash

# Fetch different variables from all the sources available by chezmoi (see https://www.chezmoi.io/user-guide/templating/ for more information)
email={{ .email }}                                                 # Fetch from .chezmoi.toml.tmpl the variables created after `chezmoi init` (using templates to prompt the user for the email address)
example_variable={{ .example_variable }}                           # Fetch from .chezmoi.toml.tmpl by setting hard-coded data
messageFromChezmoiData={{ .demonstration.messageFromChezmoiData }} # Fetch from .chezmoidata.toml a variable (note that we wrote '.demonstration.NameOfTheVariable' because in .chezmoidata.toml we have a section called [demonstration] where the variable is stored)
username={{ .chezmoi.username }}                                   # Fetch from chezmoi configuration file and usable by writing .chezmoi.NameOfTheVariable. Check all available variables with `chezmoi data`

echo "=== Demonstration of how variables works in chezmoi ==="

# Output the email to check if its correctly parsed
echo "The email stored in chezmoi configuration file is: $email"

# Output the example variable
echo "The example variable set in .chezmoi.toml.tmpl is: $example_variable"

# Output the message variable gathered from the .chezmoidata.toml file
echo "The message stored in .chezmoidata.toml is: $messageFromChezmoiData"

# Output variable that are available in `chezmoi data`
echo "The username stored directly in chezmoi configuration and usable by using .chezmoi.NameOfTheVariable: $username"
