{{ if .variables.time -}}
#!/usr/bin/env bash

echo "${NOTE} - Running 08-time.sh"

# Sourcing helper functions and variables
source "$HOME/.local/share/chezmoi/.chezmoiscripts/run_00-helper.sh"

printf "${NOTE} Putting Linux to use UTC time for Windows and Linux dual-boot setup...\n"
printf "${NOTE} It is recommended to put Windows to UTC time rather Linux to local time. See https://wiki.archlinux.org/title/System_time for more details. \n"

timedatectl set-local-rtc 0
printf "${OK} Time set to local time (not UTC) successfully!\n"
{{ end }}
